@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


html, body, h1, h2, p, ul, ol, li, figure {
   margin: 0;
   padding: 0;
}

html {
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

*, *::before, *::after {
   box-sizing: inherit;
}

ul, ol {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   display: block;
   max-width: 100%;
}

.container {
   position: relative;
   max-width: 1200px;
   margin: 0 auto;
}

@media (max-width: 1024px) {
   .container {
      max-width: 964px;
   }
}

@media (max-width: 768px) {
   .container {
      width: 600px;
   }
}

@media (max-width: 480px) {
   .container {
      max-width: 290px;
   }
}